<%= render "shared/errors", obj: @example %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@example, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <strong>Application Name:</strong>
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :name, class: "form-control", placeholder: "Name of Application", autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <strong>URL:</strong>
        </div>
        <div class='col-sm-8'>
          <%= f.text_field :url, rows: 10, class: "form-control", placeholder: "URL", autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
      <div class='control-label col-sm-2'>
        <strong>GitHub URL:</strong>
      </div>
      <div class='col-sm-8'>
        <%= f.text_field :giturl, rows: 10, class: "form-control", placeholder: "GitHub URL", autofocus: true %>
      </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-sm-2'>
          <strong>Description:</strong>
        </div>
        <div class='col-sm-8'>
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Add a description for this application.", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>
    <div class="col-xs-8 col-xs-offset-4">
      [ <%= link_to "Cancel and return to list of Example Applications", examples_path %> ]
    </div>
  </div>
</div>
