<h1 align="center">Example Applications</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Application Name</th>
      <th>Application Description</th>
      <th>Application URL</th>
      <th>GitHub URL</th>
    </tr>
    <% @examples.each do |example| %>
      <tr>
        <td><%= link_to example.name, example_path(example) %></td>
        <td><%= truncate(example.description, length: 50) %></td>
        <td><a href="<%= example.url %>" target="_blank" ><%= example.url %></a></td>
        <td><a href="<%= example.giturl %>" target="_blank" ><%= example.giturl %></a></td>
          <td align="right"><%= link_to 'Edit', edit_example_path(example), class: "btn btn-sm btn-primary" %>
          <%= link_to "Delete", example_path(example), method: :delete, data: {confirm: "Are you sure you want to delete this Example Application?"}, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to "New", new_example_path, class: "btn btn-md btn-success" %>
