<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-heading-example">Application Name: <%= @example.name %></div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Application Description</th>
      <th>Application URL</th>
      <th>GitHub URL</th>
    </tr>
    <tr>
      <td><%= @example.description %></td>
      <td><a href="<%= simple_format(@example.url) %>" target="_blank" ><%= simple_format(@example.url) %></a></td>
      <td><a href="<%= simple_format(@example.giturl) %>" target="_blank" ><%= @example.giturl %></a></td>
      <td align="right"><%= link_to 'Edit', edit_example_path(@example), class: "btn btn-sm btn-primary" %>
      <%= link_to "Delete", example_path(@example), method: :delete, data: {confirm: "Are you sure you want to delete this Example Application?"}, class: "btn btn-sm btn-danger" %>
      <%= link_to "View all", examples_path, class: "btn btn-sm btn-success" %></td>
    </tr>
  </table>
</div>